.media, .small-bucket{
	border: 1px solid rgba(109,217,189,1);
	border-radius: 5px;
	padding: 1rem;
	background-color: rgba(109,217,189,1);
}

.large-bucket{
	background-color: 
	rgba(109,217,189,1);
}

h2{
	color:rgba(40,19,40,1);
}

h4{
	color: white;
}

.buckets{
	background-color: rgba(244,246,235,1);
	padding: 1rem;
	margin-bottom: .5rem;
}

.bucket-title{
	margin-top: 0;
	margin-bottom: 0;
}
