.float{
	float:left;
}

.float-right{
	float: right;
}

.support{
	border: 5px solid black;
	margin-bottom: 2rem;
	margin-right: 3%;
}

.about-pic{
	border: 5px dotted rgba(202,219,103,1);
	padding-bottom: 1rem;
	margin-left: 3%;
}

.thank-you{
	border: 2px dotted rgba(202,219,103,1);
	padding: 1rem;
	margin: 0 10% 0 10%;
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.thank-you-pic{
	max-width: 50%;
}

.img-width{
	max-width: 95%;
	padding-right: .5rem;
}

h3{
	border: 1px solid rgba(40,19,40,1);
	color: rgba(202,219,103,1);
	padding: .5rem;
	margin-top: 2rem;
}
