.footer{
	background-color: rgba(40,19,40,1);
}

.copywrite{
	color: rgba(244,246,235,1);
	padding: 1rem;
}

footer{
	padding-top: 3rem;
	margin-bottom: 0;
	text-align: center;
}

.footer a,.footer a:link{
	border: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}