.header{
	background-color: rgba(40,19,40,1);
}

.logo{
	width: 15%;
	padding: 1rem;
	float: right;
}

ul{
	color: rgba(109,217,189,1);
	padding: 1rem;
	overflow: hidden;
}

li{
	padding-right: 1rem;
}

h5{
	padding: 1rem;
}

.current{
  color: #fff;
}

.banner{
  background: #6e9d1b url('../images/banner3.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem 1rem;
  margin-bottom: 2rem;
}

.banner-text{
  color:rgba(244,246,235,1);
}
