.product{
	border-radius: 3px;
	width: 305px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin-left: 5%;
}

.flex-img{
	width:100%;
}



h2{
	color:rgba(40,19,40,1);
	font-family: 'Yeseva One', cursive;
}

p{
	color:rgba(189,109,110,1);
}

.media-body{
	padding: 1rem;
	float: right;
}
