# User Testing Report

User testing was conducted by {Vickey Menard} on {March 24/2014} between the times of {4:42pm} and {} with the following participants:

- {Alyson Conner}
- {}
- {Jordan Doe}

## Tasks

1. {Search for Necklaces}
2. {Add necklace to Cart}
3. {Check Out}

---

## Individual Results & Observations

### {Alyson Conner}

- {Easy access to search but clicks on "look it up" instead of loop}
- {found the necklaces right away}
- {Easy check out}
- {quickly recieved thank you message}

### {Megan Davis}

- {Search was easy, but click on the words instead of loop}
- {found the necklaces right away}
- {Chose necklace that best suited her}
- {Checkout was quick and easy.}

### {Chelsea Smith}

- {Search was easy, but click on the words instead of loop}
- {found the necklaces right away}
- {Chose necklace that best suited her}
- {Checkout was quick and easy.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- none

### Serious, Causes Frustration, May Hinder Completion

- none

### Minor, Annoying, Won’t Hinder Completion

- Everyone had a trouble free and easy experience. However, they all clicked on the word in the search bar instead of the loop. 
- main image on homepage does not show up