<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}Promo Large</title>
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buckets.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
 </head>
 </head>
 <body>
	
	<h1></h1>

	<div class="media large-bucket">

		<div class="media-img media-img">
			<img class="flex-img" src="http://placehold.it/300x300" alt="">
		</div>
		<div class="media-body">
			<h2>Unique Hand Crafted Bracelets</h2>
			<h4>up to <span class="yotta">30% Off<span></h4>
			<a class="btn btn-alt giga">See More!</a>
		</div>
	</div>

	


<body>
</html>