.media, .small-bucket{
	border: 1px solid rgba(109,217,189,1);
	border-radius: 5px;

}

.large-bucket{
	background-color: rgba(109,217,189,1);
}

.buckets{
	background-color: rgba(244,246,235,1);
	padding: 1rem;
	margin-bottom: .5rem;
}
