<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Crafty Hands</title>
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="{{site.baseurl}}/css/crafty-hands.css" rel="stylesheet">

 </head>
 </head>
 <body>

  <header role="banner">
      <div class="header">
        <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="logo">
        <form method="get" action="{{site.baseurl}}/search/" role="search">
          <h5>
            <input>Look it up!</input>
          </h5>
        </form>
        <nav role="navigation">
          <ul class="list-group">
              <a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/"><li class="list-group-item list-group-item-inline">HOME</li></a>
              <a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/"><li class="list-group-item list-group-item-inline">ABOUT</li></a>
              <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/products/' %}current {% endif %}" href="{{site.baseurl}}/products/">PRODUCTS</a></li>
              <a class="{% if page.url == '/thank-you/' %}current{% endif %}" href="{{site.baseurl}}/thank-you/"><li class="list-group-item list-group-item-inline">THANK YOU</li></a>
          </ul>
        </nav>
      </div>
  </header>

  {% include banner.html %}

  {{content}}

  <footer class="unit gutter unit-s-1 unit-m-1" role="contentinfo">
    <div class="footer">
      <div class="tera">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-flickr"></i></a>
      </div>
      <div class="to-top">
        <a href="#top">Return to Top</a>
       <div class="micro copywrite">Copyright © 2014 by Crafty Hands. All rights reserved</div>
    </div>
  </footer>

</body>
</html>