<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Crafty Hands</title>
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buckets.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
 </head>
 </head>
 <body>

  <header>
      <div class="header">
        <img class="logo" src="../images/logo.svg" alt="logo">
        <h5>
          <input>Look it up!</input> 
        </h5>
        <ul class="list-group">
            <a href="{{site.baseurl}}/"><li class="list-group-item list-group-item-inline">HOME</li></a>
            <a href="{{site.baseurl}}/about/"><li class="list-group-item list-group-item-inline">ABOUT</li></a>
            <a href="{{site.baseurl}}/thank-you/"><li class="list-group-item list-group-item-inline">THANK YOU</li></a>
        </ul>
      </div>
  </header>

  {{content}}

  <footer class="unit gutter unit-m-1">
    <div class="footer">
      <div>
          <a href="#"><i class="tera fa fa-facebook"></i></a>
          <a href="#"><i class="tera fa fa-twitter"></i></a>
          <a href="#"><i class="tera fa fa-instagram"></i></a>
          <a href="#"><i class="tera fa fa-flickr"></i></a>
      </div>
      <div class="to-top">
        <a href="#top">Return to Top</a>
       <div class="micro copywrite">Copyright © 2014 by Crafty Hands. All rights reserved</div>
    </div>
  </footer>

</body>
</html>